{% extends "league/base.html" %}

{% block content %}

<h1>{{ team.teamName }}</h1>

<p>
{{ initialStatement }}
</p>

<h3>Players</h3>

<p>Player 1: {{team.player1}} <a href="/players/{{team_id}}/1/" class="button">Add</a></p>
<p>Player 2: {{team.player2}} <a href="/players/{{team_id}}/2/" class="button">Add</a></p>
<p>Player 3: {{team.player3}} <a href="/players/{{team_id}}/3/" class="button">Add</a></p>
<p>Player 4: {{team.player4}} <a href="/players/{{team_id}}/4/" class="button">Add</a></p>





{% endblock %}
