{% extends "league/base.html" %}
{% load static %}

{% block content %}

<h1>{{ opener }}</h1>

<p>
{{ initialStatement }}
</p>

<param id="lID" value="{{teamID}}">

{% if players %}
<!--
<h3>Search for a player</h3>
<form method="get">
	First Name:<input type="text" name="first">
	Last Name:<input type="text" name="last">
	<button type="submit">search</button>
</form>
-->
<!--
<table id="myTable">
	<tr>
		<th></th>
		<th>Name</th>
		<th>World Rank</th>
	</tr>
	{% for player in players %}
		{% if player.PlayerID not in uPlayers %}
		<tr align="center">
			<td>
				<form method="get">
					<button type="submit" name="pID" value={{player.PlayerID}}>add</button>
				</form>
			</td>
			<td >{{player.Name}}</td>
			<td >{{player.WorldGolfRank}}</td>
		</tr>
		{% endif %}
	{% endfor %}
</table>

-->

<p><a href="{{prevPage}}" class="button">Prev</a> <a href="{{nextPage}}" class="button">Next</a> </p>

{% endif %}


<div id="app">
<table id="myTable">
	<tr>
		<th></th>
		<th>Name</th>
		<th>World Rank</th>
	</tr>
		<tr align="center" v-for="p in availPlayers">
    {% verbatim %}
			<td>
				<form method="get">
					<button type="submit" name="pID" value={{p.PlayerID}}>add</button>
				</form>
			</td>
			<td >{{p.Name}}</td>
			<td >{{p.WorldGolfRank}}</td>
    {% endverbatim %}
		</tr>
</table>
</div>




{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
