{% extends "league/base.html" %}
{% load static %}

{% block content %}

<h1 class="text-center">{{ opener }}</h1>

<p class="text-center">
{{ initialStatement }}
</p>

<param id="tID" value="{{teamID}}">
<param id="teamName" value="{{teamName}}">


<div id="app"> <!-- 1 -->

		<div class="grid-container"><!-- 2 -->
		<div class="grid-x grid-padding-x"><!-- 3 -->

		<div class="large-8 medium-8 small-12 large-offset-2 medium-offset-2 cell"><!-- 4 -->

<table id="myTable">
	<tr>
		<th></th>
		<th>Name</th>
		<th>World Rank</th>
	</tr>
		<tr align="center" v-for="p in availPlayers">
    {% verbatim %}
			<td>
				<form method="get">
					<button type="submit" name="pID" v-bind:value="p.PlayerID">Add</button>
				</form>
				
			</td>
			<td >{{p.Name}}</td>
			<td >{{p.WorldGolfRank}}</td>
    {% endverbatim %}
		</tr>
</table>

		</div><!-- 4 -->

		</div><!-- 3 -->
		</div><!-- 2 -->

</div><!-- 1 -->




{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
