{% extends "league/base.html" %}

{% block content %}

<h1>{{ opener }}</h1>

<p>
{{ initialStatement }}
</p>


{% if players %}
<!--
<h3>Search for a player</h3>
<form method="get">
	First Name:<input type="text" name="first">
	Last Name:<input type="text" name="last">
	<button type="submit">search</button>
</form>
-->

<table>
	<tr>
		<th></th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>PlayerID</th>
		<th>Weight</th>
		<th>Swings</th>
	</tr>
	{% for player in players %}
		{% if player.PlayerID not in uPlayers %}
		<tr align="center">
			<td>
				<form method="get">
					<button type="submit" name="pID" value={{player.PlayerID}}>add</button>
				</form>
			</td>
			<td>{{ player.FirstName }}</td>
			<td>{{ player.LastName }}</td>
			<td>{{player.PlayerID}}</td>
			<td>{{player.Weight}}</td>
			<td>{{player.Swings}}</td>
		</tr>
		{% endif %}
	{% endfor %}
</table>

<p><a href="{{prevPage}}" class="button">Prev</a> <a href="{{nextPage}}" class="button">Next</a> </p>

{% endif %}




{% endblock %}
