{% extends "base.html" %}

{% block content %}

<h1>{{ opener }}</h1>

<p>
{{ initialStatement }}
</p>

<h2><u>How to Play</u></h2>

<p>This is assuming you have created/joined a league. If not, go ahead and do that now.</p
<p>Once you are in a league, the league commissioner will be able to select a tournament for the league to play in. After a tournament is selected, each team will be able to join the draft from the league homepage. In the draft each team will have a chance to select 4 golfers. The goal is to put together the combination of golfers that nets you the best/lowest best ball score. The best ball score takes the best score between the 4 golfers on each hole and counts that as your total score for the round. You will have an opportunity to switch golfers after each round has completed. Once all 4 rounds have finished, the scores will be tallied and posted on teh standings page for everyone to see</p>




{% endblock %}
