{% extends "base.html" %}

{% block content %}

<h1 class="text-center">{{ opener }}</h1>



<div class="grid-container"><!-- 1 -->
<div class="grid-x grid-padding-x"><!-- 2 -->

	<div class="large-8 medium-8 small-6 large-offset-2 medium-offset-2 small-offset-3 cell"><!-- 3 -->




{% if teamList %}
	{% for o in teamList %}
		<a href="{{ league }}{{o.leagueID}}">
		<div class="team">
<!--
			<img class="image-teams" src={{BASE_DIR}}/media/{{ o.teamImage }}>
<h4 class="img_tms"><img class="img_tm" src={{BASE_DIR}}/media/{{o.teamImage}}><span style="">{{o.teamName}}</span>
    <br>
    <span class="ban2">{{o.leagueName}}</span></h4>
<h4 class="img_tms"><img class="img_tm" src={{BASE_DIR}}/media/{{o.teamImage}}></h4>
-->
			<h4>Team Name: {{ o.teamName }}</h4>
			<h4>League Name: {{ o.leagueName }}</h4>
		</div>
		</a>
		<br><br>
	{% endfor %}
{% else %}
	<h4>Your teams will show up here.</h4>
{% endif %}

	</div><!-- 3 -->


</div><!-- 2 -->
</div><!-- 1 -->


{% endblock %}
