
.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: #2C3840;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

.team {
  background-color: #e6e6e6;
  border: 2px solid black;
}
.leagueBanner {
  background-color: gray;
}

/* Draft Player team list */
.list-group {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #1779ba;
  border-color: 1px solid #1779ba;
}

/* Right Justify login */
.loginRight {
	position: absolute;
	right:0;
}
.userRight {
	position: absolute;
	right:80px;
}


.tmp {
	background-color: #faf2e1;
	min-height: 100vh;
}

body {
	background-color: #badebd;
}

/* My Team and League Homepage  images */
.image-resize {
	width: 35%;
	max-width: 200px;
	max-height: 200px;
}
.image-resize:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.image-teams {
	width: 35%;
	height: 100%;
	max-width: 150px;
	max-height: 150px;
}


/* My Teams image */
/*
 .img_tms {
  font-family: "Gentium Basic";
  font-size: 19px;
  text-align: center;
  color: #aaa;
  margin-top: -10;
  display: block;
 }
*/
.img_tm {
    float: left; 
    margin: 5px;
	width: 35%;
	height: 100%;
	max-width: 120px;
	max-height: 100px;
 }
/*
 span {
  padding-top: 50px;
  font-size: 17px;
  vertical-align:top;
 }
 .ban2 span {
  padding-top: 50px;
  font-size: 17px;
  vertical-align:top;
 }
*/





